
<div class="text-center col-md-8 col-md-offset-2">
    <h1><span class="fa fa-lock"></span>App Name Here</h1>
    <h3>Login or Sign Up:</h3>
    <a href="/login" class="btn btn-default">Local Login</a>
    <a href="/signup" class="btn btn-default">Local Signup</a>
    <hr>
    <h4>Or Login With <a href="/auth/facebook" class="btn btn-primary">Facebook</a></h4>
</div>
<div class="enter_start_locs">
  <a href="/map"> Find a halfway meeting place</a>
</div>
