
<section class="module parallax parallax-1">
  <div class="container" class="text-center col-md-8 col-md-offset-2">
    <h1>Halfway Meet</h1>
  </div>
</section>

<section class="module content">
  <div class="container" class="text-center col-md-8 col-md-offset-2">
    <p>A fast and easy way to find a meeting place with your friends or former enemies!</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Rise</h1>

  </div>
</section>

<section class="module content">
  <div class="container">
    <% if (!loggedIn) { %>
      <p>Create an account to save start and meeting locations, or dive right in and use the app</p>
      <h3>Login or Sign Up:</h3>
      <a href="/login" class="btn btn-default">Local Login</a>
      <a href="/signup" class="btn btn-default">Local Signup</a>
      <hr>
      <h4>Or Login With <a href="/auth/facebook" class="btn btn-primary">Facebook</a></h4>
      <% } else { %>
        <a href="/map">Click Here to Access the Map and Start Your Search!</a>
      </br>
      </br>
        <a href="/profile">Click Here to Access Your Profile</a>
      <% } %>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Calm</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>
