<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Map</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style.css"></link>
</head>
<body>

  <nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <i class="fa fa-bars fa-2x"></i>
          <a href="/">Home</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="form">
    <div class="form-horizontal mapForm" id="map-search-form">
      <div id="not-logged-in">
        <input type="text" class="form-control" id="userLocationN" placeholder="Your Location">
        <input type="text" class="form-control" id="friendLocationN" placeholder="Friend's Location">
      </div>
      <div id="logged-in">
        <input type="text" class="form-control" id="userLocationL" placeholder="Enter Your Location/See Your Previous Locations">
        <input type="text" class="form-control" id="friendLocationL" placeholder="Friend's Location">
      </div>
      <select class="form-control" id="placeOfInterest">
        <option label = "Place of Interest"></option>
        <option>Coffee</option>
        <option>Bar</option>
        <option>Restaurant</option>
        <option>Mall</option>
        <option>Movie Theater</option>
      </select>
      <button class="btn btn-warning btn-lg" id="mapSearchButton">Submit</button>
    </div>
  </div>

  <div id="map"></div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="map_api.js"></script>
  <!-- //TBD for a real production put key in a Heroku ENV var -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXGfpWXMyD8isPgXt5j7UQ1CJKfqzKwaI&callback=initMap"></script>
</body>
</html>
